* {
    box-sizing: border-box;
    font-family: "Courier New", Courier, monospace;
    margin: 0;
}

body {
    position: relative;
    padding: 20px 30px 10px 30px;
    min-height: 100vh;
}

h1 {
    margin-left: 20px;
    margin-bottom: 40px;
}

h2 {
    margin-left: 20px;
    margin-bottom: 10px;
}

h3 {
    margin-bottom: 10px;
}

.image-form {
    margin-left: 20px;
    margin-bottom: 40px;
}

.form-row {
    margin-bottom: 10px;
}

form button {
    font-size: medium;
    margin-left: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    cursor: pointer;
}

input {
    font-size: medium;
    margin-right: 10px;
}

.input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.input-file + label {
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 1px 10px 1px 10px;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    width: 150px;
}

.input-file:focus + label {
    border: 2px solid #32a1ce;
    padding: 0 9px 0 9px;
}

.gallery-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.gallery-container a {
    margin: 0 20px 50px 20px;
    text-decoration: none;
    color: black;
}

.card {
    display: grid;
    grid-template-rows: 9fr 1fr;
    align-items: center;
    height: 350px;
    padding: 5px;
    border: 1px gray solid;
    border-radius: 5px;
}

.card:hover {
    background-color: rgba(99, 99, 99, 0.1);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.more-container {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 50px;
}

.more-button {
    justify-self: center;
    cursor: pointer;
    font-size: medium;
}

.modal {
    position: absolute;
    display: grid;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.modal-card {
    width: 45%;
    position: fixed;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    max-height: 80%;
    display: grid;
    justify-self: center;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 10px;
    z-index: 2;
    top: 10%;
}

.modal-card::-webkit-scrollbar {
    display: none;
}

.modal-card img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
    object-fit: cover;
}

.user-info {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: small;
}

.button-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 30px;
}

.comment-container {
    display: grid;
    text-align: left;
}

.comment-container input {
    margin-bottom: 10px;
}

.comment-button {
    margin-left: 0;
    margin-bottom: 30px;
}

.comment-card {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.modal-button {
    cursor: pointer;
    border: 1px solid;
    border-radius: 5px;
    width: 80px;
    text-align: center;
    padding: 0 1px 0 1px;
}

.popup {
    z-index: 3;
}

.popup-card {
    top: 30%;
}

footer {
    position: absolute;
    bottom: 0;
    margin-left: 20px;
}

@media screen and (max-width: 720px) {
    body {
        padding-right: 10px;
        padding-left: 10px;
    }
    .form-row {
        display: grid;
        grid-template-columns: 1fr;
        width: 60%;
        margin-bottom: 0;
    }
    input {
        margin-bottom: 10px;
    }
    .input-file + label {
        margin-bottom: 15px;
        width: 185px;
        max-width: 185px;
    }
    form button {
        margin-left: 0;
        width: 120px;
    }
    .gallery-container {
        grid-template-columns: 1fr;
    }
    .modal-card {
        width: 90%;
    }
}

[v-cloak] > * {
    display: none;
}
[v-cloak]::before {
    content: "loading...";
}
